.header {
  background-color: $light_color;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;

  &__content {
    display: flex;
    height: 60px;
  }

  &__col {
    flex: 0 0 50%;
  }
}

.logo {
  height: 100%;
  line-height: 60px;
}

.header-nav {
  height: 100%;

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__item {
    height: 100%;
    margin-right: 40px;
  }

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    color: black;

    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}