.text-block {
  width: 100%;
  max-width: 400px;

  &__tag {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: $grey;
    font-weight: 500;
  }

  &__title {
    font-family: 'Cormorant';
    font-size: 42px;
    font-weight: normal;
    line-height: 1;
    color: $dark_grey;
    margin-bottom: 20px;
  }

  &__desc {
    display: block;
    max-width: 100%;
    color: $grey;
    overflow: hidden;
    line-height: 1.2;
    max-height: 2.4;
    margin-bottom: 20px;
  }

  &__arrow {
    display: block;
    height: 15px;
    width: 30px;
  }
}